<div class="row">
  <h1>Your Cart</h1>
  <hr>
    {{#each cart.products as |product|}}
    <div class="col-sm-12 carts">
      <hr>
          <div class="col-sm-6" style="height: 200px; margin-bottom: 10px;" data-item-id={{product.item_id}}>
            <p>Product Id: {{product.item_id}}</p>
            <p>Quantity: {{product.quantity}}</p>
          </div>
      </div>
    {{/each}}
    </div>
    <hr>
</div>
