
<h1>Your Transaction History</h1>
<hr>
  {{#each carts as |cart|}}
    <div class="row grid">
      <div class="col-sm-5 carts">
        <p>Order#: {{cart._id}}</p>
      </div>
      <div class="col-sm-3 carts">
        <p>Date: {{cart.updatedAt}}</p>
      </div>
      <div class="col-sm-2 carts">
        <p>Paid: {{cart.isPaid}}</p>
      </div>
      <div class="col-sm-1 carts" data-id={{cart._id}}>
        <button class="btn btn-default viewCartBtn">View</button>
      </div>
    </div>
  {{/each}}
