$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#topNav {
  position: fixed;
  top: 0;
  width: 100%;
}

#topNav2 {
  margin-top: 0;
}

#header {
  box-sizing: border-box;
  background-color: black;
  color: white;
  margin-bottom: 0;
}


footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

#firstJumbo {
  margin-top: 100px;
}

#alertSuccess, #alertDanger {
  margin-top: 100px;
  display: none;
}
