$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#header {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}

#creds {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

#alertSuccess, #alertDanger {
  margin-top: 100px;
  display: none;
}

.userIn {
  display: none;
}

.columns {
  background-color: grey;
}

#userProfile {
  display: none;
}

.context {
  margin-top: 100px;
  margin-bottom: 100px;
}

.grid {
  margin: 10px 0;
}

#firstJumbo {
  margin-bottom: 0px;
  background-image: url('/assets/img/landing.png');
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}
